# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*cpython-36.pyc
**dist-info/
# C extensions
# *.so

# Distribution / packtiaging
.Python
build/
develop-eggs/
graph/
dist/
trained_models/
downloads/
wandb/
eggs/
bin/
*.csv
share/
lib64/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
